
.slideDiv{
    padding-left: 10px;
    padding-right: 10px;
}


.slide{
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    background-color: white;
    height: 250px;
    width: 200px;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    transition: .1s;
}

#slideImg{
    margin-bottom: 5px;
    height: 180px;
    width: 180px;
    border-radius: 5px;
}

#slideNameDot{
    display: flex;
    position: inherit;    
    cursor: pointer;
}

#assa{
    position: relative;
    top: 50px;
}

#dots{
    width: 30px;
    height: 30px;
    position: relative;
    left: 33px;
    top: 20px;
}
