
#lineAdder{
    padding: 0px;
    box-sizing: border-box;
    float: right ;
    height: 230px;
    width: 255px;
    background-color: gray;
    position: relative;
    top: -170px;
    right: 100px;
    border-radius: 5px;
    padding-left: 15px;
}

#lineAddKrest{
    font-size: 35px;
    float: right;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

#selectsDiv{
    width: 100%;
    display: flex;
    margin-bottom: -20px;
    position: relative;
    bottom: 30px;
    justify-content: center;
}

#selectImg{
    width: 110px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 11px;
    padding-top: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

#svgInput{
    display: none;
}

#filesImg{
    
    width: 20px;
    height: 25px;
}

#selectsName{
    font-size: 12px;
}

#nameBtn{
    margin-bottom: 40px;
    height: 110px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;;
}

#newNameLabel{
    font-size: 16px;
    color: black;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 15px;
}

#newLineBtnName{
    border: 1px solid black;
    border-radius: 5px;
    width: 220px;
}

#editBtns{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 15px;
}

#delateBtn{
    width: 100px;
    height: 32px;
    border-radius: 25px;
    background-color: #db380f;
    border: 0px;
    cursor: pointer;
}

#addBtn{
    width: 100px;
    height: 32px;
    border-radius: 25px;
    background-color: #F5961B;
    border: 0px;
    cursor: pointer;
}

.addBtnStyle{
    margin-left: 125px;
}

.divCleaner{
    display: none;
}