
#bigTypeContainer{
    height: 108px;
    display: flex;
    justify-content: space-between;
    padding-right: 100px;
}

#typeBar{
    height: 108px;
}

#typeBtns{
    width: 610px;
    padding-left: 100px;
    padding-right: 100px;
    height: 57px;
    display: flex;
    justify-content: space-between;
}

.typebtBorder{
    height: 57px;
    display: flex;
    flex-flow: column;
    position: inherit;
}

.typeBtn{
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.btnBorder{
    height: 6px;
    background-color: red;
    position: relative;
    bottom: 4px;
    border-radius: 100px;
}

#disActeved{
    display: none;
}

#typeLineBar{
    width: 759px;
    height: 2px;
    background-color: black;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    position: inherit;
}

#krestBtn{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #F5421B;
    font-size: 1.6em;
    box-sizing: border-box;
    padding-bottom: 9px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 9px;
    left: 30px;
    float: right;
    cursor: pointer;
}

#typeAdder{
    width: 255px;
    box-sizing: border-box;
    padding-top: 35px;
}

#imgBar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: inherit;
}

.imgBtn{
    width: 150px;
    height: 32px;
    border-radius: 18px;
    font-size: 20px;
    box-sizing: border-box;
    background-color: #F5961B;
    border: 0px solid black;
    color: white;
    font-family: Montserrat;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.closeBtn{
    display: none;
}

#imgBtnKrest{
    font-size: 18px;
    margin-right: 5px;
    margin-left: 15px;
}

.sliderAdit{
    padding: 0px;
    box-sizing: border-box;
    height: 230px;
    width: 255px;
    background-color: gray;
    position: relative;
    bottom: 70px;
    left: 20px;
    border-radius: 5px;
    padding-left: 15px;
}

#flagsWKrest{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#flags{
    box-sizing: border-box;
    padding-top: 10px;
}

#flags > img{
    cursor: pointer;
}

#activeFlag{
    transform: scale(1.2);
}

.flag{
    width: 18px;
    height: 15px;
}

.aditKrest{
    float: right;
    font-size: 35px;
    float: right;
    padding-bottom: 20px;
    box-sizing: border-box;
    position: relative;
    bottom: 10px;
    cursor: pointer;
}

#selects{
    width: 100%;
    display: flex;
    margin-bottom: -20px;
    position: relative;
    bottom: 30px;
}

#saveFoto{
    display: none;
}
#saveFile{
    display: none;
}

.file{
    width: 110px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 11px;
    padding-top: 8px;
    box-sizing: border-box;
    cursor: pointer;
}

#foto{
    margin-left: 8px;
}

.fileInput{
    width: 20px;
    height: 25px;
}

.inputName{
    font-size: 12px;
    color: white;
}

#hlo{
    height: 14px;
    width: 88px;
}

#nameBar{
    margin-bottom: 40px;
    height: 110px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#newSliderName{
    font-size: 16px;
    color: white;
}

#addSliderName{
    border: 1px solid white;
    border-radius: 5px;
    background-color: gray;
    width: 220px;
}

.addSliderBtn{
    width: 100px;
    height: 32px;
    border-radius: 25px;
    background-color: #F5961B;
    border: 0px;
    margin-left: 125px;
    cursor: pointer;
}

.newSlideMaket{
    width: 700px;
    height: 500px;
    background-color: #363b45;
    position: fixed;
    top: 50px;
    right: 330px;
    z-index: 4;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

#closeBtn1{
    display: none;
}

#slideMaketKrestDiv{
    width: 100%;
    position: inherit;
}

#slideMaketKrest{
    font-size: 35px;
    float: right;
    position: relative;
    bottom: 13px;
    left: 13px;
    cursor: pointer;
}

#newSlidMaketImgDiv{
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

#newSlidMaketImgDiv > img{
    border-radius: 15px;
}

#newSlidMaketImg{
    height: 400px;
}

#newSlideMaketBtns{
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: white;
}
