
#studia{
    background-color:  #545662;
}

.bigContainer{
    height: 307px;
    padding-left: 100px;
    padding-top: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-bottom: 1px solid black ;
}

#pageName{
    font-size: 24px;
    font-weight: bold;
    color: white;
}

#proces{
    font-size: 18px;
    font-weight: bold;
    color: white;
}

#navbar{
    height: 184px;
    display: flex;
    flex-flow: column;
}

#container{
    padding-left: 40px;
    padding-top: 60px;
}

#removeBtn{
    visibility: hidden;
}

#lineBar{
    height: 30px;
    position: inherit;

}

#line{
    margin-left: 20px;
    width: 761px;
    height: 4px;
    background-image: linear-gradient(to right, #F5961B , #5181DF, #F5421B, #67AA82, #E2E47A, #BA68FB, #12B252);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: inherit;
}

#btnIcones{
    width: 645px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: inherit;
}

#fullBtn{
    height: 100px;
    width: 100px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 63px;
}

#icone{
    min-height: 46px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.btNameBar{
    width: 100px;
    height: 64px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.hovIconBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: rgba(245, 66, 47, 0);
    border-radius: 100%;
}

.iconeBtn{
    height: 20px;
    width: 20px;
    border-radius: 100%;
}

.btnName{
    width: 100%;
    text-align: center;
    word-wrap: break-word;
    color: white;
}


#navbarBtn{
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #12B252;
    font-size: 1.6em;
    box-sizing: border-box;
    padding-bottom: 9px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 8px;
    cursor: pointer;
}

#sliderContainer{
    padding-left: 100px;
    padding-right: 100px;
    height: 350px;
    background-color: #383A45;
    position: inherit;
}

#slides{
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 45px;
}

#moveBtns{
    position: relative;
    bottom: 205px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slideBtnDiv1{
    width: 55px;
    height: 250px;
    background-color: blueviolet;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left, #383A45 , #333333 );
    cursor: pointer;
}

.slideBtnDiv2{
    width: 55px;
    height: 250px;
    background-color: blueviolet;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #383A45 , #333333 );
    cursor: pointer;
}

.slideMover{
    color: #F5961B;
    border: 0px;
    font-size: 1.3em;
}

#btnRemover{
    display: none;
}